parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src/
    excludePaths:
        analyse:
            - %currentWorkingDirectory%/vendor/*
            - %currentWorkingDirectory%/tests/*
    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/autoload.php
